{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 order-md-2 mb-4">
      <ul class="list-group mb-3">
      {% for i in orderdict %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
          <small><strong>OrderID:{{i.orderid}}</strong></small><br>
          {% for j in i.products %}
              <small class="text-muted">{{j.name}}  x  {{j.quantity}}</small><br>
          {% endfor %}
          <small class="text-muted mt-2"><strong>Order Date:</strong>{{i.date_ordered}}</small><br>
          <small class="text-muted"><strong>Address:</strong>{{i.address}}</small><br>
          </div>
          <span class="text-muted">₹{{i.total}}</span>
        </li>
      {% empty %}
          <a href="/"><button class="w-100 btn btn-primary btn-md" type="submit">Your cart is empty. Shop now</button></a>
      {% endfor %}
      </ul>

  </div>
</div>
{% endblock content %}

