{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-8 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge bg-secondary rounded-pill">{{order.get_cart_items}}</span>
      </h4>
      <ul class="list-group mb-3">
           {%for item in items%}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex justify-content-between">
                  <img class="cart_image" src={{item.product.image}} alt="">
                  <div>
                    <h6 class="my-0">{{item.product.name}}</h6>
                    <div class="mt-1">
                        <small class="text">₹{{item.product.price}}</small>
                    </div>

                    <div class="shopping_cart_quantity mt-2">
                        
                        <a href="/updateItem/{{item.product.id}}/add"><button class="btn btn-secondary btn-circle btn-sm mr-1" type="submit" name="button">+</button></a>
                        <small class="text">{{item.quantity}}</small>
                        <a href="/updateItem/{{item.product.id}}/remove"><button class="btn btn-secondary btn-circle btn-sm ml-1" type="submit" name="button">-</button></a>
                    </div>
                        

                  </div>
              </div>
              <span class="text-muted">₹{{item.get_total}}</span>
            </li>
          {% endfor %}

        <li class="list-group-item d-flex justify-content-between">
          <span>Total (Rupees)</span>
          <strong>₹{{order.get_cart_total}}</strong>
        </li>
      </ul>
      {%if order.get_cart_total%}
        <a href="/checkout"><button class="w-100 btn btn-primary btn-md" type="submit">Proceed to Checkout</button></a>
      {%else%}
        <a href="/"><button class="w-100 btn btn-primary btn-md" type="submit">Your cart is empty. Shop now</button></a>
      {%endif%}
    </div>
  </div>
</div>

{% endblock content %}

