{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-lg-8 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Products Ordered</span>
        <span class="badge bg-secondary rounded-pill">{{lenitems}}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in items%}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex justify-content-between">
                  <img class="cart_image" src={{item.image}} alt="">
                  <div>
                    <h6 class="my-0">{{item.name}}</h6>
                    <!-- <small class="text-muted"><%=item.desc.substr(0,70)%>...</small> -->
                    <p class="text-muted">Quantity: {{item.quantity}}</p>
                    <p class="text-muted">{{item.date_ordered}}</p>
                    <!-- <p class="text-muted"><%=item.fullname%></p> -->
                  </div>
              </div>
              <span class="text-muted">₹ {{item.price}}</span>
            </li>
        {% endfor%}

      </ul>
    </div>
</div>
{% endblock content %}

