.navlogo{
	height: 1px;
	width: 1px;
}
#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}
.nav-cart-items{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}
/* login style */
body{
    background-color: #f5f5f5;

}
.loginbody{
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin-blog {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* login style ends */

/*Transaction Sucessfull*/
.organise{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.organise > p{
	margin: 20px;
}
.organise > img{
	height: 100px;
	width: 100px;
	margin: 5px;
}
.organise > a{
	margin: 20px;
}
/*transaction style ends here*/

.shopping_cart_quantity{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.cart_image{
	margin-right: 30px;
	height: 80px;
	width: 80px;
}
.contacts{
	height: 40px;
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 100%;
}